*{

    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    
    

}
body{

    background: #efefef;

}
nav{

 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #ffffff;
 padding: 5px 3%;
 box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%);
 left: 0;
 position: fixed;
 top: 0;
 width: 100vw;
 z-index: 100;
 flex-wrap: wrap;
 
}
.logo{

 width: 160px;
 margin-right: 45px;

}
.nav_center,.nav_right{
 
    display: flex;
    align-items: center;
    justify-content: center;
   margin-right: 20px;
}

.nav_center ul li{

list-style: none;
display: inline-block;
padding: 12px 14px;


}

.nav_center ul li:hover{

     background-color: #f2f4f8e1;
     border-radius: 8px;
    
    
    }

    .nav_center ul li:after{

        content:'';
        transform: scaleX(1);
        border-bottom:2px solid var(--white, #fff);
        border-color: rgba(9, 26, 255, 0.9);
        position: absolute;
        width: 5%;
        bottom: 0;
        left: 29.6%;
        transition:all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
       transform-origin:left center;


    }

.nav_center ul li svg{
    
    width: 30px;
    margin: 0 25px;
   color: red;

}
.color_fill{

 fill: #65676b;

}
.Grey{

    fill: #0051ff;

}



.hover_container{

 
 justify-content: center;
 align-items: center;
 background-color: rgb(255, 0, 0);
padding: 0px 0px;
display: flex;
margin: 0 12px;
justify-content: space-between;
height: 0px;

}
.one,.two,.three,.four,.five{
 
    background-color: rgb(95, 93, 93);
    color: #1f1d1d;
    padding: 3px 4px;
    margin: 0px 12px;
    color: #fff;
    border-radius: 3px;
   opacity: 0;

}

/* .hover_container:hover + .one{


    opacity: 1;

} */


/* .too:hover + .one{

    position:absolute;
    top:55px;
    background:rgb(255, 39, 39);
    border-radius: 0 0 5px 5px;
    width:100px;
    height:40px;
    font-size:16px;
    transition-duration: 167ms;
    text-align:center;
    display:block;
  

} */


.nav_right ul li{

    list-style: none;
    display: inline-block;
    margin-right:40px;

}
.nav_right ul li svg{

    width: 48px;
    margin: 0 -15px;
    padding: 6px 10px;

}
.profile_with_name{

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 30px;
 flex-direction: row;
 flex-wrap: wrap;

}
.profile_with_name > img{

  width: 30px;
border-radius: 50%;

}


.nav_user_icon > a > img{

    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}





.search-box{
 
    background: #e4e6eb;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 1px 15px;
    height: 40px;
    margin: 0 10px;

}
.search-box img{

    width: 18px;

}
.search-box input{
 
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.nav_user_icon{
/* 
 margin-left: 43px; */

}
.nav_user_icon > img{

  width: 36px;

}

.container{

 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0 10px;

}
.grey_icon{

    color: rgb(255, 0, 0);

}

.profile_with_name{
 
   
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
     left: 15px;
     bottom: 5px;
     cursor: pointer;
    
    

}
.profile_text{

  text-decoration: none;
  color:#ff0000;

}





.profile_with_name span{
 
   margin-left: 3px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    transition: 0.6s ease-in;
}
.profile_with_name:hover{


    transition:all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transform-origin:left center;

}
.fill_background{

background-color: rgb(97 97 97 / 15%);
padding: 0px 3px;
border-radius: 50%;
position: relative;
right: 15px;

}
.nav_center ul .second{
 position: relative;

}
.nav_center ul .second::after{

  content: '9+';
  width: 22px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 30%;
  background:#e20b0b;
  position: absolute;
  top: 0;
  right: 50px;
  left: 60px;
  text-indent: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;



}
/* //Container-Part */

.Main_container{

    display: flex;
    justify-content: space-between;
    padding: 13px 1%;
    margin: 3.9% 0px;
 

}


 .left_sidebar{

  background:#ffffff;
  flex-basis: 25%;
  position: sticky;
  max-width: 370px;
  top: 70px;
  align-self: flex-start;
 height: 74vh;
  position: sticky;
  z-index: 9;
  background: rgb(255, 250, 250);
  overflow-y: scroll;


 }

    .left_sidebar::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
   .left_sidebar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgb(189, 162, 162); 
        border-radius: 10px;
    }

    /* Handle */
.left_sidebar::-webkit-scrollbar-thumb {
        background: rgb(179, 171, 171); 
        border-radius: 10px;
    }

   
.Friends_container{


    display: flex;
    justify-content: space-between;
    padding: 13px 1%;
    margin: 3% 0px;
    position: relative;
 
}
.friendList_container{


    background:#ffffff;
    flex-basis: 35%;
    position: fixed;
    width: 22%;
    top: 70px;
     height: 90vh;
    z-index: 9;
    background: rgb(255, 255, 255);
    left: 0;

}
.friend_head{

 display: flex;
 justify-content: space-between;
  padding: 8px 18px;
  align-items: center;
  margin: 5px 10px;
}
.friend_head h2{

 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 24px;

}
.friend_head i{


height: 30px;
width: 30px;
}
.icon_friend_Container{

 background-color: rgb(233, 225, 225);
 padding: 5px 8px;
 border-radius: 40px;
 

}
.details_container{

 display: flex;
 justify-content: flex-start;
 margin: 10px 13px;
 padding: 5px 14px;
 align-items: center;
 background-color: rgb(255, 255, 255);
 transition: 300ms;
 border-radius: 8px;
}
.details_container:hover{

    background-color: #e4e6eb;



}
.details_container img{

 position:absolute;
 right: 20px;

}
.text h3{

 margin-left: 6px;
 font-size: 18px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 500;

}


.icon{

 height: 30px;
 width: 30px;
 background-color: rgb(214, 214, 214);
 padding: 5px 5px;
 text-align: center;
 border-radius: 30px;

}
.icon_1{

    background-color: rgb(214, 214, 214);
    height: 30px;
    width: 30px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    border-radius: 30px;
    position: relative;

}
.friend-request-page{

 background-color: #ffffff;
 width: 75%;

 position:absolute;
 right: 20px;




}
.friendlist_container{

 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-gap: 10px;
 background-color: white;
 margin: 10px 5px;

}
.Friend_request_container{

 background-color: rgb(255, 255, 255);
 padding: 10px 0px;
 border: 3px solid rgba(249, 249, 249, 0.8);
 box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px -10px, rgb(0 0 0 / 12%) 0px 10px 10px 0px;
 transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
 border-radius: 20px;

}


.Friend_request_container #Friend_img{

 height: 220px;
 width: 220px;
 border-radius: 10px;
 margin: 3px 18px;

}
.friends-small_images .mutual_image{
 
    width: 20px;
    height: 20px;
   border-radius: 50%;
 

}
.Friend_request_container .friend_name{

 font-size: 16px;
 text-decoration: underline;
 padding: 5px 20px;
 text-align: center;
 margin: 8px 37px;
 margin-left: 55px;

}
.friends-small_images{

 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px 5px;
 

}
.friends-small_images h4{
 font-size: 15px;
color: rgb(71, 71, 71);
margin: 0 5px;
}
.button-section{

  display: flex;
  flex-direction: column;

}
#add_friend{
 
    background-color: #1876F2;
    color: #fff;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;

     
}
#add_friend_grey{

    
    background-color: #f0f6ff;
    color: rgb(17, 0, 255);
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    margin: 4px 3px;
    font-size: 15px;
    


}

.friend-text{

 display: flex;
 justify-content:space-between;
 margin: 20px 30px;
 margin-top: 40px;

}
.friend-text h3{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;

}
.friend-text p{

 font-size: 18px;
 color: #1876F2;
 font-weight: 600;

}

 
/* Account Page Details */
.coverpage_container{

 height: 80vh;
 background:linear-gradient(to right, rgb(212, 229, 255), rgb(212, 229, 255));
 width: 100%;
 position: relative;
 top: 60px;
box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px -10px, rgb(0 0 0 / 12%) 0px 10px 10px 0px;


}
#image_container{

 height: 48vh;
 width: 80%;
 max-width: 950px;
 background-color: #fff;
 border-radius: 10px;
margin: 0 auto;
 
}
.image_and_upload_container input{

position:absolute;
left: 70%;
top: 50%;
color: #fff;
text-indent: 10px;


}

#image_container img{

width: 100%;
margin: 0 auto;
border: 0.2px solid #ffffff;
height: 48vh;
border-radius: 10px;


}
#person_profile_section{

  background-color: #fff;
  width: 61.7%;
  height: 32vh;
  margin: 0 auto;

}
#person_profile_section > img{

  width: 168px;
  height: 168px;
  margin: -45px 20px;
  border: 4px solid #fff;
  border-radius: 50%;
  

}
#dark_btn{

position:absolute;
top: 20px;
right: 20px;
background-color: #ccc;
width: 20px;
border-radius: 15px;
padding: 2px 3px;
cursor: pointer;
display: flex;
transition: 300ms;

}
#dark_btn span{

 width: 18px;
 height: 18px;
 background: #fff;
 border-radius: 50%;
 display: inline-block;
 position: relative;


}
#dark_btn.dark-btn-on{

padding-left: 20px;
background: #000;
}


.name_details_section{

  margin: 10px 0px;
  line-height: 1.4;

}
.name_details_section h3{
 
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.name_details_section a{
 
    font-size: 15px;
    font-weight: 500;

}
.image_rounded_details img{

  width: 35px;
  height: 35px;
  border-radius: 50%;

}

#person_profile_section{

 display: flex;


}
.image_rounded_details{

  padding: 5px 6px;

}
.image_rounded_details{

 display: flex;
 align-items: center;

}


.button_section{

 width: 50%;
 margin: 0 30px;
 background-color: rgb(255, 255, 255);
 position: relative;
 height: 20vh;
 display: flex;
 justify-content: center;
 align-items: center;

}

#btn_Add_story{

 display: flex;
 align-items: center;
 padding: 7px 15px;
 background-color: #1877f2;
 color: #fff;
 margin: 0 3px;
 border: none;
 border-radius: 5px;
 font-size: 13px;
 font-weight: 700;
 cursor: pointer;

}
#btn_Add_story > img{
 
    margin-right: 10px;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 50%;

}
.hr_name{

    width: 60%; 
    margin: 0 auto;
     margin-top: -60px;

}
.person_add_section{

display:flex;
 max-width: 600px;
 width: 70%;
margin: 0 20%;
 justify-content: space-around;
}

.person_details_list_section{

 margin: 10px 2px;
 padding: 13px 15px;
 margin-top: 0px;
 background-color: rgb(255, 255, 255);
 border-radius: 5px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 15px;
 color: #111111;
 font-weight: 600;
cursor: pointer;
}
.person_details_list_section:hover{

    background-color: rgb(243, 234, 234);


}

.Account_content_section{

 display: flex;
 justify-content: space-evenly;
 

}




.first_friends_container{

  
  flex-basis:24%;
  align-items: center;
  background-color: #ffff;
  height: 65vh;
  margin-left: 210px;
  border-radius: 12px;
  position: relative;
  left: 20px;
  top: 75px;
  

}
.second_posts_container{

    flex-basis:34%;
    background-color: rgb(255, 255, 255);
    margin-right: 220px;
    margin-top:  80px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px -10px, rgb(0 0 0 / 12%) 0px 10px 10px 0px;

}
.lock_container{

 width: 100%;
 background-color: rgb(255, 255, 255);
 display: flex;
 justify-content: flex-start;
 align-items: center;
 box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px -10px, rgb(0 0 0 / 12%) 0px 10px 10px 0px;
 border-radius: 10px;

}
.icon_lock{

 padding: 7px 7px;
 background-color: rgb(24, 56, 238);
 border-radius: 22%;
 display: flex;
 align-items: center;
color: #ffffff;
border: 2px solid #ccc;
margin: 5px 20px;
box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px -10px, rgb(0 0 0 / 12%) 0px 10px 10px 0px;
}
.icon_lock i{

 padding: 1px 1px;
 border-radius: 30%;
 background-color: #ffffff;
 position: relative;


}
.text_lock_section h3{

    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}
.intro_section{
  

    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px -10px, rgb(0 0 0 / 12%) 0px 10px 10px 0px;
    padding: 10px 9px;
    border-radius: 10px;
    margin: 20px 0;
    border:2px solid rgb(255, 243, 243);

}
.intro_section h3{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin: 7px 5px;


}
#intro_button{

padding: 8px 150px;
margin: 0 auto;
margin-left: 10px;
margin-top: 15px;
background-color: #e4e6eb;
border: none;
border-radius: 5px;

}
.details_intro{

 display: flex;
 align-items: center;
 padding: 20px 3px;



}
.intro_details_data{

    display: flex;
    align-items: center;
    padding: -10px 3px;


}
.details_intro > img{

margin: 5px 10px;

}
.details_intro p{

margin: 0 5px;

}
.intro_details_data > img{

    margin: 5px 10px;

}
.intro_details_data p{

    margin: 0 5px;

} 







 .right_sidebar{

  background: #ffffff;
  position: sticky;
  top:70px;
  max-width: 350px;
  padding: 20px 5px;
  flex-basis: 25%;
  align-self: flex-start;
  height: 80vh;
  overflow-y: scroll;
  border-radius: 5px;
  z-index: 9;


 }


 .right_sidebar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

/* Track */
.right_sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(189, 162, 162); 
    border-radius: 10px;
    height: 20px;
}

/* Handle */
.right_sidebar::-webkit-scrollbar-thumb {
    background: rgb(179, 171, 171); 
    border-radius: 10px;
    height: 20px;
}

#main_content{

  flex-basis: 47%;

}
#entire_post{

border: 2px red;

}

.profile-pic{

 display: flex;
 align-items: center;
 justify-content: flex-start;
 background-color: rgb(235, 237, 240);
 border-radius: 5px;
 transition: 300ms;

}
.profile-pic:hover{

    background-color: #c5c8cc;
    border-radius: 10px;

}
.profile-pic_last{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #d9dde4;
    border-radius: 5px;
    transition: 300ms;
   

}
.profile-pic svg{

    width: 80px;
    border-radius: 50%;
    padding: 3px 7px;
    margin: 5px 8px;

}
/* font-size: 20px;
    margin: 10px 20px;
    background: #00ffdc;
    border-radius: 30%;
    padding: 5px 5px; */

.profile-pic_last a{

    font-size: 20px;
    margin: 10px 20px;
    background: #00ffdc;
    border-radius: 30%;
    padding: 5px 5px;
    

}


.profile-pic img{
 
    width: 50px;
    border-radius: 50%;
    padding: 3px 7px;
    margin: 5px 8px;


}
.profile-pic span{

    font-size: 1rem;
    font-family:'Roboto', sans-serif;
    font-weight: 750;
    letter-spacing: 1px;
    font-size: 14px;

}
.sidebar_title{

 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 18px;
 margin: 5px 10px;

}
.sidebar_title h4{
 font-weight: 600;
 font-size: 16px;
 font-family:'Roboto', sans-serif;


}
.sidebar_title a{

 text-decoration: none;
 color: #1876F2;
 font-family:'Roboto', sans-serif;
 font-weight: 600;

}

.sidebarnew_title{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    margin: 15px 5px;


}
.sidebarnew_title svg{

   display: flex;
   justify-content: center;
  

}
.svg_one{

 position: relative;
 left: 90px;
 padding: 10px 10px;
 border-radius: 50%;
 transition: 300ms;
   

}
.svg_one:hover{

    background-color: rgb(185, 175, 175);

}
.svg_two{

  position: relative;
  left: 40px;
  padding: 10px 10px;
  border-radius: 50%;
  transition: 300ms;
   

}
.svg_two:hover{

    background-color: rgb(185, 175, 175);

}
.svg_three{

 position: relative;
 right: 10px;
 padding: 10px 10px;
 border-radius: 50%;
 transition: 300ms;
   

}
.svg_three:hover{
 
background-color: rgb(185, 175, 175);


}
.event{

  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
  margin: 15px 30px;

}
.left-event{

  border-radius: 10px;
  height: 55px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.right-event{

 margin: 5px 15px;

}
.event p{

  font-size: 12px;

}
.event a{
 
    text-decoration: none;
    color: #1876f2;
    font-weight: 600;

}
.left-event span{

 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 background: #1876F2;
 color: #fff;
 font-size: 12px;
 padding: 4px 0;
}

.right-event p i{
margin: 0px 5px;
 
}


.profile-pic .online::after{

    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 30%;
    background:#ff0000;
    position: absolute;
    top: 330px;
    right: 50px;
    left: 60px;
    text-indent: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;


}

.stories{

  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 10px 0px;
  max-width: 590px;
  margin: 0 auto;
}

.story{

 flex-basis: 18%;
 padding-top: 28%;
 background-position: center;
 background-size: cover;
 position: relative;
 border-radius: 10px;
 cursor: pointer;
border: 3px solid rgba(249, 249, 249, 0.8);
box-shadow: rgba(0 0 0 / 30%) 0px 10px 28px -10px ,
rgba(0 0 0 / 42%) 0px 20px 20px -5px;
transition:all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;


}
.story:hover{

    transform: scale(1.02);
    box-shadow: rgba(0 0 0 / 30%) 0px 10px 18px -10px ,
  rgba(0 0 0 / 42%) 0px 20px 20px -5px;
  border: 3px solid rgba(249, 249, 249, 0.8);

}
.story > img{

 position: absolute;
 width: 35px;
 border-radius: 50%;
 top: 10px;
 left: 10px;
 border: 4px solid #8477ff;
 height: 35px;

}
.story > p{

 position:absolute;
bottom: 10px;
width: 100%;
text-align: center;
color: #fff;
font-size: 14px;

}
.story1{

    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(images/status-1.png);

}
.story2{

    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(images/status-2.png);

}
.story3{

    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(images/status-3.png);

}
.story4{

    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(images/status-4.png);

}
.story5{

    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(images/status-5.png);

}
.story1 img{

    position: absolute;
    width: 35px;
    border-radius: 50%;
    top: 100px;
    left: 30px;
    border: 4px solid #ffffff;
    height: 35px;

}
.write_post_container{

 width: 80%;
 max-width: 700px;
 background: #fff;
 border-radius: 6px;
 padding: 20px;
 color: #626262;
 margin: 0 auto;
 margin-top: 27px;
 transition: 300ms;

}
.write_post_container:hover{

box-shadow: 2px 4px 40px rgb(19 15 235 / 10%);

}
.write_post_cover_container{

    width: 90%;
    max-width: 700px;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 0 auto;
    margin-top: 0px;
    transition: 300ms;
    height: 16.6vh;
    box-shadow: rgba(0 0 0 / 20%) 0px 0px 10px -5px ,
rgba(0 0 0 / 22%) 0px 5px 10px 0px;
    
   


}
.write_post_cover_container:hover{


    box-shadow: 2px 4px 40px rgb(19 15 235 / 10%);

}
.user_cover_profile{

    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);

}
.user_cover_profile > img{

    width: 45px;
    border-radius: 50%;
    margin-right: 7px;

}
.user_cover_content{

    padding: 10px 5px;

}
.user_cover_content input{

    width:300px;
    height: 38px;
    border-radius: 30px;
    text-indent: 20px;
    background-color: #eff1f7;
     outline: none;
     border: 0.5px solid rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;

}
#btn-post{

 padding: 9px 12px;
 border: none;
 background-color: #494cff;
 color: #fff;
 border-radius: 10px;

}

.user_profile{

 display: flex;
 align-items: center;
 background-color: rgb(255, 255, 255);

}

.user_profile > img{

 width: 45px;
 border-radius: 50%;
 margin-right: 7px;

}
.user_content{

 padding: 10px 5px;

}
.user_content input{
  
    width:420px;
    height: 38px;
    border-radius: 30px;
    text-indent: 20px;
    background-color: #eff1f7;
     outline: none;
     border: 0.5px solid rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;


}
.write_post_container button{

  background-color: #295ddf;
  color:rgb(255, 255, 255);
  padding: 5px 18px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  border:0.6px solid rgb(226, 223, 223);

}
.write_post_container button:hover{

    box-shadow: 2px 4px 40px rgb(49 25 205 / 40%);


}
.post-cover-contents{

    padding: 7px 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.post-contents{

 padding: 10px 3px;
 display: flex;
 justify-content: space-around;
 align-items: center;

}
.post_input_cover{

    display: flex;
    align-items: center;
    padding: 10px 2px;
    border-radius: 5px;


}
.post_input_cover:hover{


    background-color:#eff1f7;

}
.post_input_cover svg{

    height: 24px;
    width: 24px;

}
.post_input_cover span{

    margin: 0 10px;

}


.post_input{
 
    display: flex;
    align-items: center;
    padding: 10px 13px;
    border-radius: 5px;
   

}
.post_input:hover{

 background-color:#eff1f7;


}
.post_input svg{

    height: 24px;
    width: 24px;

}


.post_input span{
 
    margin: 0 10px;

}
.post_color_1{

 
 fill:#f3425f;

}
.post_color_2{

fill:#45bd62;

}
.post_color_3{

 fill: #f7b928;

}
.post-cover-container{

    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
  margin-top: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0 0 0 / 10%) 0px 10px 10px 0px ,
    rgba(0 0 0 / 10%) 0px 10px 10px 0px;
    transition: 300ms;
   


}
.post-cover-container:hover{

    box-shadow: 2px 4px 40px rgb(19 15 235 / 10%);

}



.post-container{

 background-color: #ffffff;
 width: 90%;
 max-width: 600px;
 margin: 0 auto;
 margin-top: 30px;
 border-radius: 20px;
 position: relative;
 box-shadow: rgba(0 0 0 / 10%) 0px 10px 10px 0px ,
 rgba(0 0 0 / 10%) 0px 10px 10px 0px;
 transition: 300ms;

}
.post-container:hover{

    box-shadow: 2px 4px 40px rgb(19 15 235 / 10%);

}
.new_user_profile{

 display: flex;
 padding: 15px 25px;
 background-color: rgb(255, 255, 255);


}
.new_user_profile > img{

    width: 45px;
    border-radius: 50%;
    margin-right: 7px;

}
.image_input{

 position: absolute;
 top: 20px;
 right: 0px;
max-width: 170px;
 

}
.fill{

 max-width: 450px;

}
.fill 




 
/* Javascript functionality profile */

.settings-menubar hr{

height: 1px;
background: #ffffff;
box-shadow: rgba(0 0 0 / 10%) 0px 10px 10px 0px ,
 rgba(0 0 0 / 10%) 0px 10px 10px 0px;

}




.profile_user{

    display: flex;
    padding: 15px 25px;
    background-color: rgb(255, 255, 255);


}
.profile_user > img{

    width: 45px;
    border-radius: 50%;
    margin-right: 7px;

}

.profile_name p{
 
    font-size: 14px;
    font-weight: 600;

}
.profile_name i{
 
    margin-left: 8px;

}
.profile_name a{

 text-decoration: none;
 color: #1876F2;
 font-size: 12px;

}
#post-test{

 font-size: 16px;
 font-weight: 600;
 margin: 0px 10px;
 padding: 10px 10px;
 border: 5px solid rgb(255, 255, 255);

}
#post_image{

width: 100%;


}
#post_image_container_cover{

    max-width: 96%;
    margin: 0 auto;
    border: 2px solid rgb(255, 255, 255);
     margin-top: 20px;

}


#post_image_container{

 max-width: 95%;
 margin: 0 auto;
 border: 2px solid rgb(255, 255, 255);

}


.profile_name a:hover + .post-test{

 display: block;

}
.comment_like_imogis{

 display: flex;
 justify-content: flex-start;
 padding: 5px 10px;
 margin: 2px 7px;
 align-items: center;


}
.imogies{

 display: flex;
 align-items: center;
 justify-content: space-around;
 max-width: 100px;
 padding: 4px 12px;

 background-color: rgb(255, 255, 255);

}
.imogie{

 margin: 2px 4px;
}
.input_likes{

 margin-left: -10px;


}
.input_likes input{

 outline: none;
 border: none;
 font-size: 15px;

}
.comment_like_container{

 display: flex;
 padding: 15px 20px;
 justify-content: space-around;


}
#like_part{

 display: flex;
 align-items: center;
 padding: 12px 27px;
 border: none;
 background-color: #ffffff;
 border-radius: 10px;

}
#like_part:hover{

    background-color: #eff1f7;

}
#like_part span{
 
    margin-left: 10px;

}
#like_part i{

 width: 30px;
 height: 35px;

}
.load{

 padding: 10px 25px;
 background-color: #ffffff;
 margin: 30px 270px;
 color: #0051ff;
 border: none;
 border-radius: 5px;
 font-size: 14px;
 font-weight: 600;

}
.load:hover{

    box-shadow: 5px 4px 40px rgb(19 15 235 / 20%);


}
.settings-menubar{

 position:absolute;
 width: 90%;
 max-width: 350px;
 background-color: rgb(255, 255, 255);
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 overflow: hidden;
 top: 100%;
  right: 12%;
  transition: 300ms;
max-height: 0;

}
.settings-menubar_height{

  max-height: 450px;

}
.hover_container_list{

max-width: 0;
}
 .one_hover{

  position:absolute;
  background-color: rgb(48, 45, 45);
  width: 5%;
  max-width: 50px;
  top: 35%;
  right: 14.8%;
  color: rgb(255, 255, 255);
  padding: 5px 7px;
  opacity: 0;
  transition: 0.1 ease-in;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;

}
.one_hover:hover{

 opacity: 1;
 top: 100%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}


.settings-links{

 display:flex;
margin: 15px 25px;
 align-items: center;

}

.settings-links > img{

 width: 50px;
 border-radius: 50%;

}
.settings-links a{

margin: 0 10px;
 font-size: 14px;
 text-decoration: none;
 color: rgb(0, 0, 0);
 display: flex;
 width: 90%;
 justify-content: space-between;

 
}
#friend_link{
 text-decoration: none;

}

/* Watch page Modification */

.searching_box_watch{
 
    background: #e9eefa;
    width: 280px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 1px 15px;
    height: 35px;
    margin: 0 10px;
    margin-bottom: 20px;

}
.searching_box_watch img{

    width: 18px;

}
.searching_box_watch input{
 
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.video_hr{

 width: 90%;
 margin: 0 auto;

}
.watch_name{

 display: flex;
 justify-content: space-between;
 margin: 5px 15px;

}
.watch_name h3{

 font-size: 18px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 400;

}
.watch_name p{
 
    color: #0051ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 600;

}



.friendList_container_wactch_page::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.friendList_container_wactch_page::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(189, 162, 162); 
    border-radius: 10px;
}

/* Handle */
.friendList_container_wactch_page::-webkit-scrollbar-thumb {
    background: rgb(179, 171, 171); 
    border-radius: 10px;
}
.friendList_container_wactch_page{

    background:#ffffff;
    flex-basis: 35%;
    position: fixed;
    width: 22%;
    top: 70px;
     height: 90vh;
    z-index: 9;
    left: 0;
    overflow-y: scroll;



}

.details_containers_watch_page{


    display: flex;
    justify-content: flex-start;
    margin: 10px 13px;
    padding: 5px 14px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: 300ms;
    border-radius: 8px;


}
.details_containers_watch_page img{


    border-radius: 50%;
    
}
.post_watch-video_container_1{


 height: 70vh;
 width: 70%;
 background-color: red;
 margin: 0 auto;
 border-radius: 5px;

}
.post_watch-video_container_2{


    height: 70vh;
 width: 70%;
 background-color: rgb(37, 50, 233);
 margin: 0 auto;
 border-radius: 5px;

}
.watch_container{

    margin: 30px 0;
    /* display: flex; */
    margin-right: 23px;

}
.post_watch-video_container_1{

 margin-bottom: 20px;

}
/* navigation logined */
#color_change{

 width: 40px;
 height: 40px;


}


 /* Responsive -Media Queries are used */

@media (max-width:850px) {


  .nav_right ul li svg{

    display: none;
    
  }
 
  .nav_center ul li svg{
 
    display: none;
    position: relative;

  }

  .profile_with_name{

    position: absolute;
    bottom: 21px;
    right: 0;
    left: 80%;
   width: 2px;
   
  }
  .profile_with_name:hover{

   background-color: none;

  }
  .profile_with_name > img{
  
    width: 40px;
  border-radius: 50%;
  
  }

.profile_with_name{
 
   
   
    border-radius: 20px;
     flex-direction: row;
    

}
.profile_with_name span{
 
    margin-left: 7px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    transition: 0.6s ease-in;
    

}


    .Main_container{

        display: flex;
        flex-direction:column;
        padding: 0 5px;
        margin: 10px 0;


 } 
 .one_hover{

  display: none;

 }
 .hover_container_list{

    display: none;

    }
    .nav_center ul .second::after{

        content: '';
       display: none;
      
      
      }
      .nav_center ul li:after{

        content:'';
       display: none;


    }
    .nav_center ul li{

         display: none;
        
        
        }


        .right_sidebar{

             display: none;
          
          
           }
           .left_sidebar{

          
            display: none;
          
          
           }
           .stories{

            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            margin: 10px 0px;
            max-width: 470px;
            margin: 0 auto;
            margin-top: 80px;
          }
          .load{

            padding: 10px 25px;
            background-color: #ffffff;
            margin: 30px 150px;
            color: #0051ff;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
           
           }
           .user_content input{
  
            width:240px;
            height: 38px;
            border-radius: 30px;
            text-indent: 20px;
            background-color: #eff1f7;
             outline: none;
             border: 0.5px solid rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
        
        
        }
        .write_post_container button{

            background-color: #295ddf;
            color:rgb(255, 255, 255);
            padding: 2px 10px;
            border-radius: 5px;
            font-size: 13px;
            font-weight: 700;
            border:0.6px solid rgb(226, 223, 223);
          
          }

          .search-box {
            background: #e4e6eb;
            width: 150px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding: 1px 15px;
            height: 40px;
            margin: 0 10px;
        }

        .story1 img {
            position: absolute;
            width: 30px;
            border-radius: 50%;
            top: 70px;
            left: 20px;
            border: 4px solid #ffffff;
            height: 30px;
        }
        .user_profile > img {
            width: 36px;
            border-radius: 50%;
            margin-right: 7px;

        }

        .post_input {
            display: flex;
            align-items: center;
            padding: 4px 8px;
            border-radius: 5px;
        }
        .post_input span {
            margin: 0px 3px;
        }
        #output{

            margin-left: -89px;
            margin-top: 30px;
        }

      
        .profile_with_name span{
 
              margin-left: 3px;
              font-size: 14px;
               font-weight: 700;
             font-family: 'Roboto', sans-serif;
             letter-spacing: 1.2px;
             transition: 0.6s ease-in;
             position: relative;
             left: 0px;
             top: 13px;
             color: rgb(240, 32, 32);
             
         }
        
         


         .profile_with_name{

           border-radius: 20px;
           flex-direction: row;
           margin: 28px -98px;
           font-size: 30px;
           max-width: 2px;
           position: absolute;
           right: 0;
           left: 80%;
           padding: 10px 99px;
           width: 2px;


         }
         .profile_with_name > img{

              width: 32px;
              border-radius: 50%;
              position: absolute;
              right: 65px;
              top: 5px;



         }
         .profile_with_name span{

            font-weight: 800;
            position: absolute;
            right: 92px;
            /* max-width: 95px; */
            font-size: 12px;
            color: rgb(255, 0, 0);
            margin-left: -10px;
            margin-top: 1px;
  

         }

         #image_container {
            height: 48vh;
            width: 100%;
            max-width: 950px;
            background-color: #fff;
            border-radius: 10px;
            margin: 0 auto;
        



        }

        .name_details_section h3 {
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            max-width: 200px;
            text-align: center;
            margin: 30px 40px;
            color: #ff2121;
            margin-top: 45px;
        }

        #person_profile_section {
            display: flex;
            flex-direction: column;
           
        
        }
    
        #person_profile_section > img {
               width: 168px;
        height: 168px;
        margin: -46px 45px;
        border: 4px solid #fff;
        border-radius: 50%;
          margin-top: -116px;
}
        
 


 

    #person_profile_section {
        background-color: #fff;
        width: 100%;
        height: 32vh;
        margin: 0 auto;
        text-align: center;
    
    }

    
#person_profile_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
 



#image_container img {
    width: 99%;
    margin: 0 auto;
    border: 0.2px solid #ffffff;
    height: 44vh;
    border-radius: 10px;
}
   

.button_section {
    display: none;
}

.person_add_section {
    display: none;

  }

  .image_rounded_details {
   
     display: none;
}


.first_friends_container {
   
}


.lock_container{

  display: none;

}
.intro_section{

 display: none;

}

.write_post_cover_container {
    width: 80%;
    max-width: 700px;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 0 auto;
    margin-top: 0px;
    transition: 300ms;
    height: 16.6vh;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px -5px, rgb(0 0 0 / 22%) 0px 5px 10px 0px;
}

.user_cover_content input {
    width: 215px;
    height: 38px;
    border-radius: 10px;
    text-indent: 20px;
    background-color: #eff1f7;
    outline: none;
    border: 0.5px solid rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.hr_name{

    width: 60%; 
    margin: 0 auto;
     margin-top: -40px;

}

.image_and_upload_container input {
    position: absolute;
    left: 2%;
    top: 42%;
    color: #fff;
    text-indent: 10px;
}



#btn-post {
    padding: 5px 8px;
    border: none;
    background-color: #494cff;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;

}
.hr_name{

 display: none;

}

#friend_count {
    
    font-size: 18px;
    font-weight: bold;
    background: #ff174d;
    color: #ffffff;
    padding: 10px 6px;
    border-radius: -1px;
    border: 2px solid red;
    border-radius: 5px;
}
#friends-num {


    font-weight: bold;
     font-size: 18px;
     background: #ffffff;
     font-size: 18px;
     font-weight: bold;
     background: #ed197b;
     color: #ffffff;
     padding: 10px 6px;
     border-radius: 9px;
     border: 2px solid red;
     background: #ff174d;
     position: relative;
     left: 9px;
 
 }

 .nav_center ul li:hover{

    background-color: #000000e1;
    border-radius: 8px;
   
   
   }
   #input_image{

margin-top: 20px;
margin-left: -50px;


   }
 
   /* FriendList page make responsive */


   .friendList_container{

    display: none;

}
.friend-request-page{

    background-color: #ffffff;
    width: 85%;
    position:absolute;
    right: 20px;
   
   
   
   
   }
   /* .friendlist_container{

      
   
   } */
   .friendlist_container{

    background-color: white;
    margin: 21px 10px;
    display: flex;
    flex-direction: column;

   
   }
   .friend-text {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    margin-top: 75px;
}

.friend-text p {
    font-size: 18px;
    color: #1876F2;
    font-weight: 600;
    margin: 6px;
}


.Friend_request_container #Friend_img{

    height: 240px;
    width: 240px;
    border-radius: 10px;
    margin: 6px 48px;

   
   }

   .Friend_request_container .friend_name {
    font-size: 18px;
    text-decoration: underline;
    padding: 5px 20px;
    text-align: center;
    margin: 8px 37px;
    margin-left: 87px;
}

 /* Watch Page responsive */
 .friendList_container_wactch_page {
   
    display: none;
}


.post_watch-video_container_1{


    height: 70vh;
    width: 100%;
    background-color: rgb(243, 239, 0);
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 30px;
   
   }
   #video_output_yt{

    width: 100%;
   

   }
.post_watch-video_container_2{



    height: 70vh;
    width: 100%;
    background-color: rgb(243, 239, 0);
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;



}




}

  




